/* Nulstiller alle typografier, så jeg kan lave alt selv */
* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/* body */
body {
  background-color: white;
}

/*  billeder & video */
img {
  max-width: 100%;
  height: auto;
}

.video_01 {
  max-width: 100%;
}

/* fonts */
@font-face {
  font-family: BebasNeue;
  src: url(fonts/bebas_neue/BebasNeue-Regular.ttf) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: BodoniMode;
  src: url(fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\wght.ttf)
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Footer */
footer {
  font-family: BodoniMode;
  padding: 20px;
  background-color: #f3af57;
}

/* *********** Regler for tekst ************* */
h1,
h2,
h3 {
  font-family: BodoniModa;
}
h1,
h3 {
  font-weight: bold;
}

h1 {
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 2rem;
  background-color: #6d808a;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 60ch;
  margin-bottom: 10px;
  line-height: 1.5rem;
}

footer {
  text-align: center;
}

/* *********** Header ************** */
header {
  background-color: rgba(255, 255, 255, 0.768);
  padding: 1rem;
  border-bottom: 1px solid;
}

header ul li {
  font-family: BodoniModa;
  list-style: none;
  padding: 5px 20px;

  border: 0.5px solid black;
  background-color: #f3af57;
  border-radius: 2px;
}

ul {
  display: flex;
  text-align: center;
  place-content: end;
}

.navigation :hover {
  color: #f3af57;
  background-color: #6d808a;
}

/* Call-to-actionknap */
.cta {
  font-family: BodoniModa;
  margin-top: 1px;
  padding: 2px;
  color: rgb(16, 83, 156);
  text-decoration: underline solid;
}

.cta:hover {
  color: #f3af57;
}

/* *********** burger-menu **************** */
.main-menu {
  margin-bottom: 4px;
}

.main-menu ul {
  list-style: none;
  padding: 0;

  /* Få elementerne til at stå ved siden af hinanden */
  display: flex;
  gap: 10px;
}

/* **************** burgermenu ***************** */
.toggle-btn {
  background: #f3af57;
  border: 0.5px solid black;
  align-items: center;
  border-radius: 5px;
  padding: 0px 5px;
  font-family: BodoniModa;

  font-size: 1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

.toggle-btn:hover {
  background-color: #6d808a;
}

@media (max-width: 700px) {
  .toggle-btn {
    display: block; /* Viser knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Gør at man ikke kan se børnene (underpunkterne), så det er gemt under menu. */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
