/* ********************* Forside *********************** */
.splash_container {
  background: hsla(205, 17%, 78%, 1);
}
.splash {
  aspect-ratio: 1920/1080;
  background-image: url(splashbillede_blaa.svg);

  background-size: cover;
  display: grid;
  place-content: center;
}

.splash_text01 {
  font-family: BodoniModa;
  font-size: 5rem;
  color: #f3af57;
  display: grid;
  place-content: center;
  line-height: normal;
}

.splash_text02 {
  font-family: BodoniModa;
  font-size: 1rem;
  color: #f3af57;
  display: grid;
  place-content: end;
  line-height: normal;
}

/* ********************** Om mig *********************** */
.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid_1,
.box-3,
.box-4 {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

/* Box-3 */
.box-3 {
  margin-top: 20px;
  padding: 20px 85px 50px;
}

.box-3 > p,
h2,
h3 {
  place-self: center;
}

/* Box-4 */
.box-4 {
  padding: 20px 85px 50px;
  background-color: antiquewhite;
  border-top: 5px #f3af57 solid;
}

.box-4 > ul {
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: left;
  place-self: center;
}

.cv_liste {
  padding-left: 33px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Billede af mig */
.box-5 {
  padding-left: 20px;
  border-left: 5px #f3af57 solid;
}

.grid_2-1 > .box-5,
.mig {
  display: grid;
  place-content: center;
  margin-right: 20px;
}

/* ********************** Grundlæggende html, UX, Animation, indhold og portfolio ************************* */
.container {
  background-color: white;
  border-left: #6d808a 2px solid;
  border-right: #6d808a 2px solid;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article {
  padding: 30px;
}

.box-1 {
  padding-inline: 5rem;
  margin: 60px 0px;
}

.box-2 {
  padding-inline: 5rem;
  margin: 60px 0px;
}

.box-6 {
  display: grid;
  place-content: center;
  margin-top: 60px;
}

.web {
  background-color: #6d808a;
}

/* Html - billeder */
#menukort {
  display: grid;
  place-items: end;
}

/* ***** UX-billeder ****** */
/* .vand {
  width: 300px;
  margin-bottom: 10px;
} */

#pitch {
  display: grid;
  place-content: center;
}
/* ****** Animation billeder ******* */
.java {
  width: 300px;
  margin-bottom: 10px;
}

#papir {
  display: grid;
  place-content: center;
}

#kode {
  display: grid;
}

#kode2 {
  display: grid;
  place-content: center;
}

/* Grundlæggende indhold */
.box-2 > .video :last-child {
  margin-top: auto;
}

/* ******************************** portfolio - oversigt ***************************** */
/* Opbygning af grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* hover effekt */
.hover1:hover .image:hover {
  opacity: 0.3;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

/* Hover effekten på text-boksen, placering og effekt */
.hover1:hover .middle {
  opacity: 1;
}

.hover1 {
  display: grid;
  place-content: center;
  border: #f3af57 5px solid;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  border: #6d808a 1px dotted;
  margin-bottom: 10px;
}

/* Text-box - design */
.text1 {
  display: grid;
  place-content: center;
  background-color: #6d808a;
  color: white;
  font-family: BodoniModa;
  font-size: 16px;
  padding: 16px 32px;
}

/* ******************** Media queries ********************* */

@media (orientation: portrait) and (max-width: 1000px) {
  /* Om mig side */
  .grid_2-1 {
    display: flex;
    flex-direction: column;
  }

  /* Om mig siden - box -3, hvem er jeg */
  .box-3 {
    padding-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(246, 232, 202);
  }

  .box-3,
  .box-4 {
    padding-inline: 30px;
    padding-bottom: 20px;
  }

  /* Om mig siden - box-4, mit cv */
  .box-4 {
    margin-top: 20px;
    padding-inline: 85px;
    background-color: white;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  /* Om mig - box-5 mit billede */

  .grid_2-1 > .box-5,
  .mig {
    display: grid;
    place-content: center;
    margin-right: 20px;
  }

  .box-5 {
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: none;
  }

  .mig {
    width: 50%;
    place-self: center;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  /* Splashbillede tekst */
  .splash_text01 {
    font-size: 1.5rem;
  }
  .splash_text02 {
    font-size: 0.5rem;
  }

  /* Om mig */
  .cv_liste {
    padding-left: 0px;
  }

  /* Tema siderne */
  .grid_1-1 {
    display: flex;
    flex-direction: column;
  }
  .avocadoimg {
    align-items: center;
  }
  .box-1 {
    padding-inline: 5rem;
    margin: 0px;
  }

  .box-2 {
    padding-inline: 5rem;
    margin: 0px;
  }

  .box-6 {
    display: grid;
    place-content: center;
    padding-inline: 5rem;
    margin-top: 10px;
  }

  /* Portfolio oversigt */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* UX - billede af vandflasker */
  .vand {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .papir {
    margin-top: 0px;
  }
}
