/* ********************* Forside *********************** */
.splash {
  max-width: 100%;
  margin-bottom: -10px;
}

/* ********************** Om mig *********************** */
.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid_1,
.box-3,
.box-4 {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

/* Box-3 */

.box-3 {
  margin-top: 50px;
  padding-inline: 50px;
}

.box-3 > p,
h2,
h3 {
  place-self: center;
}

/* Box-4 */
.box-4 {
  margin-top: 20px;
  padding-inline: 85px;
  background-color: antiquewhite;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: antiquewhite;
  border-top: 5px #f3af57 solid;
}

.box-4 > ul {
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: left;
}
.cv_liste {
  place-self: center;
}

/* Billede af mig */

.box-5 {
  padding-left: 20px;
  /* background-color: antiquewhite; */
  border-left: 5px #f3af57 solid;
}

.grid_2-1 > .box-5,
.mig {
  display: grid;
  place-content: center;
  margin-right: 20px;
}

/* ********************** Grundlæggende html, UX, Animation, indhold og portfolio ************************* */
.container {
  background-color: white;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box-1 {
  padding-inline: 5rem;
  margin: 60px 0px;
  place-content: center;
}
.box-2 {
  padding-inline-end: 5rem;
  margin: 60px 0px;
  place-content: center;
}

.web {
  background-color: #6d808a;
}

/* portfolio - oversigt */
/* Opbygning af grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ***************Hover effekten på Html***************** */
.hover1:hover .image {
  opacity: 0.3;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* Hover effekten på text-boksen */
.hover1:hover .middle {
  opacity: 1;
}

.hover1 {
  display: grid;
  place-content: center;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  place-content: center;
}

/* Text-box html */
.text1 {
  display: grid;
  place-content: center;
  place-self: center;
  background-color: #6d808a;
  color: white;
  font-family: BebasNeue;
  font-size: 16px;
  padding: 16px 32px;
}

/* *********** Hover effekten på UX ************** */
.hover2 {
  display: grid;
  place-content: center;
}

.hover2:hover .image2 {
  opacity: 0.3;
}
.image2 {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* Hover effekten på text-boksen */
.hover2:hover .middle2 {
  opacity: 1;
}

.middle2 {
  transition: 0.5s ease;
  opacity: 0;
}

.text2 {
  display: grid;
  place-content: center;
  background-color: #6d808a;
  color: white;
  font-family: BebasNeue;
  font-size: 16px;
  padding: 16px 32px;
}

/* *******************Hover effekten på Animation***************** */
.hover3 {
  display: grid;
}

.hover3:hover .image3 {
  opacity: 0.3;
}
.image3 {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.hover3:hover .middle3 {
  opacity: 1;
}

.middle3 {
  transition: 0.5s ease;
  opacity: 0;
}

.text3 {
  display: grid;
  place-content: center;
  background-color: #6d808a;
  color: white;
  font-family: BebasNeue;
  font-size: 16px;
  padding: 16px 32px;
}

/* *************** Hover effekten på redesign *************** */
.hover4 {
  display: grid;
  place-content: center;
}
.hover4:hover .image4 {
  opacity: 0.3;
}
.image4 {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.hover4:hover .middle4 {
  opacity: 1;
}

.middle4 {
  transition: 0.5s ease;
  opacity: 0;
}

.text4 {
  display: grid;
  place-content: center;
  background-color: #6d808a;
  color: white;
  font-family: BebasNeue;
  font-size: 16px;
  padding: 16px 32px;
}

/* Media queries  */

@media (orientation: portrait) and (max-width: 600px) {
  /* Tema siderne */
  .grid_1-1 {
    display: flex;
    flex-direction: column;
  }
  .avocadoimg {
    align-items: center;
  }
  .box-2 {
    padding-inline: 5rem;
  }

  /* Portfolio oversigt */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (orientation: portrait) and (max-width: 1000px) {
  /* Om mig side */

  .grid_2-1 {
    display: flex;
    flex-direction: column;
  }

  .box-3 {
    padding-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(246, 232, 202);
  }

  .box-3,
  .box-4 {
    padding-inline: 30px;
    padding-bottom: 20px;
  }

  /* Billede af mig */

  .box-4 {
    margin-top: 20px;
    padding-inline: 85px;
    background-color: white;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .box-5 {
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: none;
  }

  .grid_2-1 > .box-5,
  .mig {
    display: grid;
    place-content: center;
    margin-right: 20px;
  }

  .mig {
    width: 50%;
    place-self: center;
  }
}
